body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.player-name {
    margin: 20px 0;
}

.player-name input {
    padding: 5px;
    font-size: 1rem;
}

.player-name button {
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
}

#error-message {
    margin-top: 10px;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    background: #f4f4f4;
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.game {
    margin: 20px;
}

.choices button {
    font-size: 1.5rem;
    margin: 10px;
    padding: 15px 25px;
    cursor: pointer;
    border: 2px solid #007BFF;
    border-radius: 5px;
    background-color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.choices button:hover {
    background-color: #007BFF;
    color: white;
    transform: scale(1.1);
}

#results {
    margin-top: 20px;
    font-size: 1.2rem;
}

#restart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#restart:hover {
    background-color: #0056b3;
}
.help {
    margin-left: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    color: #007BFF;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.help:hover {
    color: #0056b3;
}
